.App {
  text-align: center;
}

#main-links{
  text-align: start
}

#logo{
  text-align: end;
  margin: 10px;
}

a{
  margin:10px;
  position: relative;
  top:5px;
} 


#main-links{
  display: grid;
  grid-template-columns: 1fr 1fr;
}